<script>
	<% if flash[ :warning ] %>
		alert('<%=flash[ :warning ]%>');
	<% end %>
	
</script>
  <div class="limit">
    <div id="crumb"><a href="index.html">首頁</a> &gt; Q&amp;A</div>
    <!--crumb-->
    <div id="content"> 
      <!--------------------------------------------------------------------------------------------->
      <div class="left">
	      <%= form_for @post do | f | %>	      
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="20%"><%= f.label :contact_name, "姓名：" %></td>
            <td width="80%"><%= f.text_field :contact_name, :class => "text", :placeholder => "請留下您的稱呼方式" %><%= check_warning(@post, :contact_name) %></td>
          </tr>
          <tr>
            <td><%= f.label :contact_email, 'Email：' %></td>
            <td><%= f.text_field :contact_email, :class => "text", :placeholder => "僅供聯絡用，不會公開" %> <%= check_warning(@post, :contact_email) %> </td>
          </tr>
          <tr>
            <td width="20%"><%= f.label :title, "主題：" %></td>
            <td width="80%"><%= f.text_field :title, :class => "text", :placeholder => "請留下您想詢問的概述" %><%= check_warning(@post, :title) %></td>
          </tr>
          <tr>        
            <td colspan="2"><%= f.label :content, "詢問內容：" %><br>
              <%= f.text_area :content, :placeholder => "請留下您的問題" %><%= check_warning(@post, :content) %></td>
          </tr>
          <tr>
            <td colspan="2">
            	<%= f.check_box :status, {:class => 'checkbox'}, "hidden"  %>
            	<%= f.label :status, "不要顯示我的留言" %><br>
              <span>服務人員會回覆到您填寫的Email信箱</span></td>
          </tr>
          <tr>
            <td colspan="2"><%= recaptcha_tags %></td>
          </tr>
          
          <tr>
            <td colspan="2" align="center"><%= f.submit '', :class => "button" %></td>
          </tr>
        </table>
        <% end %>
      </div>
      <div class="right">
	      <% @posts.each do | post | %>
        <div class="msg">
	      	<% if post.status == 'enable' %>
	          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="msg-q">
	            <tr>
	              <th width="17%" align="left" valign="top"><%= post.contact_name %></th>
	              <td width="83%"><%= post.title %><span> - <%= post.created_at.to_s %></span>
	              <p><%= post.content %></p></td>
	            </tr>
	          </table>
	          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="msg-a">
	            <tr>
	              <td width="81%"><span><%= post.response_time.to_s %></span>
	                <p><%= post.response %></p></td>
	              <th width="19%" align="right" valign="top"><%= post.replier.name %></th>
	            </tr>
	          </table>
	        <% else %>
	          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="msg-q hidden">
	            <tr>
	              <th width="17%" align="left" valign="top"><%= post.contact_name %></th>
	              <td width="83%"><span><%= post.created_at.to_s %></span>
	              <p>隱藏內容</p></td>
	            </tr>
	          </table>    
	        <% end %>
        </div>
        <% end %>
      </div>
      <!---------------------------------------------------------------------------------------------> 
    </div>
    <!--content--> 
  </div>
 </div>