<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>創碼有限公司│Q&amp;A</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "qa", :media => "all" %>
  
  <%= stylesheet_link_tag @pagename if params[ :controller ] == 'static_pages' %>
  
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
</head>

<body>
	<%= yield %>
<div id="footer" _height="none">
  <div class="limit"> © 2013 Createing Code Company. All rights reserved. </div>
  <!--limit--></div>
<!--footer-->
</body>
</html>
